@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); */
@font-face {
  font-family: "DINNextLTBold"; /* Choose a custom name for your font */
  src: url("/fonts/alfont_com_AlFont_com_din-next-lt-w23-bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DINNextLTArabic";
  src: url("/fonts/alfont_com_AlFont_com_DINNextLTArabic-Regular-4.ttf")
    format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
@font-face {
  font-family: "DINNextLTArabic";
  src: url("/fonts/alfont_com_AlFont_com_din-next-lt-w23-bold.ttf")
    format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}
.bold-text {
  font-family: "DINNextLTBold", sans-serif; /* Use the bold-specific font */
}

.regular-text {
  font-family: "DINNextLTArabic", sans-serif; /* Use the regular font */
  font-weight: 400; /* Optional, ensures regular weight */
}

/* For bold-weight DINNextLTArabic font */
.din-bold {
  font-family: "DINNextLTBold", sans-serif;
  font-weight: 700; /* Explicitly select bold variant */
}

html {
  scroll-behavior: smooth !important;
  font-family: "DINNextLTArabic", sans-serif;
}

.prss {
  padding-left: 50px;
}
.hero {
  padding-top: 100px;
  transition: background-image 1s ease-in-out;
  background-color: #cecece;
  background-image: url("/backbackk.jpg");
}
.bgproject {
  background-image: url("/picss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 970px;
}
/* uc?export=view&id= */
.evetxx {
  background-image: url("/bg/coming.png");
  background-size: cover;
  background-position: center;
  /* Adjust other background properties as needed */
}
.serv {
  height: 100%;
  background-image: url("/bg/serve.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* .vabout {
  background-image: url("/bg/8.png");
  background-size: cover;
  background-repeat: no-repeat;
} */
/* card  */
.product-card {
  background-color: #ffffff00;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-image {
  width: 100%;
  height: 1000%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.product-title {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.9em;
  color: #666;
}

.btn-more {
  padding: 10px;
  text-align: center;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out;
}

.btn-more:hover {
  background-color: #666;
}

.slider {
  margin-top: 0px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: calc(36 * 190px);
  animation: scrollVertical 17s linear infinite;
  -webkit-animation: scrollVertical 20s linear infinite;
}
.slide {
  margin-top: 0px;
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scrollVertical {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-190 * 12px));
    -webkit-transform: translateX(calc(-190 * 12px));
    -moz-transform: translateX(calc(-190 * 12px));
    -ms-transform: translateX(calc(-190 * 12px));
    -o-transform: translateX(calc(-190 * 12px));
  }
}
.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}
/* horizontal scrolling */
section {
  width: 100%;
  display: grid;
  place-items: center;
}
.section-heading {
  @apply text-[40px] md:text-[70px] lg:text-[100px] font-bold text-center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(white 50%, rgb(176, 3, 3) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(254, 0, 0);
  margin: 1em 0;
}
.card p {
  color: black;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #cecece;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  padding: 16px;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
.project {
  padding: 0;
  max-width: fit-content;
  display: flex;
  flex: 1;
  align-items: center;
}
.project-img {
  width: 200%;
  height: 100%;
}
.projet-text {
  margin-bottom: 100px;
  text-align: justify;
}
.bn632-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
  background-image: linear-gradient(
    to right,
    #111111,
    #b3b3b3,
    #6d6e71,
    #b3b3b3
  );
  box-shadow: 0 4px 15px 0 #485563;
}
.bhero {
  color: white;
  background-color: #000000;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}
/* projects */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  height: 100vh;
}
.cards-container {
  position: relative;
  margin-top: 30px;
}
.cards-container h2 {
  font-size: 30px;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}
.card-body {
  text-align: center;
  margin: 30px;
}
.cards-container .owl-stage-outer {
  padding: 30px 0;
}
.cards-container .owl-nav {
  display: none;
}
.cards-container .owl-dots {
  text-align: center;
}
.cards-container .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.cards-container .owl-dots .active {
  box-shadow: none;
}
.cards-container .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.cards-container .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.cards-container .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.cards-container .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.cards-container .card h5 span {
  font-size: 18px;
  color: #666;
}
.cards-container .card p {
  font-size: 14px;
  color: #555;
  padding-bottom: 15px;
}
.cards-container .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.cards-container .center {
  opacity: 1;
}
.cards-container .center h5 {
  font-size: 24px;
}
.cards-container .center h5 span {
  font-size: 20px;
}
.cards-container .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
@media (max-width: 767px) {
  .cards-container {
    margin-top: 20px;
  }
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}
.owl-carousel button.owl-dot {
  outline: 0;
}
/* start left side*/

.leftside ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.leftside ul li {
  width: 100%;
  border: white;
}
.leftside ul li a {
  display: block;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s;
  font-size: 200px;
  border-bottom: 2px solid rgb(153, 153, 153);
}

.leftside ul li a {
  padding-top: 5px;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.leftside ul li a:hover {
  background-color: rgb(254, 0, 0);
  color: white;
  font-weight: 500;
}
.leftside .white {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  width: auto;
  border-bottom: 2px solid rgb(153, 153, 153);
}
.xvw {
  width: 100%;
  padding: 5px;
}
/* loading  */
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flash 1s infinite;
}

/* loading  */
